.register {
	position: absolute;
	box-shadow: 2px -3px 12px 3px rgba(0, 0, 0, 0.6);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50vw;
	padding: 10px;
}

.holder {
	width: 70%;
	border: 2px solid red;
	margin: 0 auto;
}

.register h3 {
	max-width: 160px;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
	margin: 5px 0px 30px 5px;
	padding-bottom: 10px;
	font-size: 30px;
	color: rgb(13, 136, 136);
	font-weight: bold;
	border-bottom: 4px solid rgb(13, 136, 136);
}

@media screen and (max-width: 450px) {
	.register {
		width: 90vw;
	}
}
